<p-dialog
  [visible]="visible()"
  (visibleChange)="close()"
  [header]="
    type === 'New' ? ('EMPLOYEES.DIALOG.NEW' | translate) : ('EMPLOYEES.DIALOG.EDIT' | translate)
  "
  [modal]="true"
  [draggable]="false"
  [resizable]="false"
  [style]="{ width: '50vw' }"
>
  <form [formGroup]="employeeForm" class="content">
    <div class="name-row">
      <div class="field">
        <label for="firstname">{{ 'EMPLOYEES.FIRSTNAME' | translate }}*</label>
        <input pInputText id="firstname" formControlName="firstname" [placeholder]="'EMPLOYEES.DIALOG.FIRSTNAME_PLACEHOLDER' | translate"/>
        @if (employeeForm.controls.firstname.invalid && employeeForm.controls.firstname.touched) {
          <div class="error-message">
            <i class="pi pi-exclamation-circle"></i>
            <span>{{ 'EMPLOYEES.VALIDATION.FIRSTNAME_REQUIRED' | translate }}</span>
          </div>
        }
      </div>

      <div class="field">
        <label for="lastname">{{ 'EMPLOYEES.LASTNAME' | translate }}*</label>
        <input pInputText id="lastname" formControlName="lastname" [placeholder]="'EMPLOYEES.DIALOG.LASTNAME_PLACEHOLDER' | translate" />
        @if (employeeForm.controls.lastname.invalid && employeeForm.controls.lastname.touched) {
          <div class="error-message">
            <i class="pi pi-exclamation-circle"></i>
            <span>{{ 'EMPLOYEES.VALIDATION.LASTNAME_REQUIRED' | translate }}</span>
          </div>
        }
      </div>
    </div>

    <div class="field">
      <label>{{ 'EMPLOYEES.QUALIFICATIONS' | translate }}*</label>
      <p-multiselect
        [options]="allQualifications"
        formControlName="qualifications"
        optionLabel="name"
        display="chip"
        appendTo="body"
        [placeholder]="'EMPLOYEES.DIALOG.SELECT_QUALIFICATIONS' | translate"
      />
      @if (employeeForm.controls.qualifications.invalid && employeeForm.controls.qualifications.touched) {
        <div class="error-message mt-2">
          <i class="pi pi-exclamation-circle"></i>
          <span>{{ 'EMPLOYEES.VALIDATION.QUALIFICATION_REQUIRED' | translate }}</span>
        </div>
      }
    </div>
  </form>

  <ng-template pTemplate="footer">
    <p-button
      [label]="'COMMON.CANCEL' | translate"
      [text]="true"
      severity="secondary"
      (onClick)="close()"
    />
    <p-button
      [label]="'COMMON.SAVE' | translate"
      icon="pi pi-check"
      (onClick)="save()"
      [disabled]="employeeForm.invalid"
    />
  </ng-template>
</p-dialog>
