<div class="content-wrapper">
  <header class="section-header">
    <div class="title-group">
      <h1 class="title">{{ 'SCHEDULE.TITLE' | translate }}</h1>
    </div>
  </header>

  <div class="schedule-container">
    <div class="grid">
      @for (boat of boats(); track $index) {
        <div class="card-wrapper">
          <p-card
            [header]="$index === 0 ? ('SCHEDULE.UNUSED' | translate ) : ( 'SCHEDULE.BOAT' | translate ) + ' ' + ($index)"
            [styleClass]="'custom-card ' + (isBoatEmpty(boat) ? 'empty-boat-card' : '')"
          >
            <p-accordion [multiple]="true">
              <p-accordion-panel value="tasks" [disabled]="isBoatEmpty(boat)">
                <p-accordion-header>
                  <i class="pi pi-list mr-2"></i> {{ 'MENU.TASKS' | translate }}
                </p-accordion-header>
                <p-accordion-content>
                  <div class="chips-container">
                    @for (task of boat.taskItems; track task.id) {
                      <p-chip
                        [label]="task.name "
                        icon="pi pi-list"
                        (click)="openTask(task)"
                        styleClass="clickable-chip"
                      />
                    }
                  </div>
                </p-accordion-content>
              </p-accordion-panel>

              <p-accordion-panel value="crew" [disabled]="isBoatEmpty(boat)">
                <p-accordion-header>
                  <i class="pi pi-users mr-2"></i> {{ 'MENU.EMPLOYEES' | translate }}
                </p-accordion-header>
                <p-accordion-content>
                  <div class="chips-container">
                    @for (person of boat.persons; track person.id) {
                      <p-chip
                        [label]="person.firstname + ' ' + person.lastname "
                        icon="pi pi-user"
                        (click)="openEmployee(person)"
                        styleClass="clickable-chip"
                      />
                    }
                  </div>
                </p-accordion-content>
              </p-accordion-panel>

              <p-accordion-panel value="tools" [disabled]="isBoatEmpty(boat)">
                <p-accordion-header>
                  <i class="pi pi-wrench mr-2"></i> {{ 'MENU.TOOLS' | translate }}
                </p-accordion-header>
                <p-accordion-content>
                  <div class="chips-container">
                    @for (t of boat.tools; track t.toolId) {
                      <p-chip
                        [label]="getToolName(t.toolId) + ' (' + t.requiredAmount + 'x)' "
                        icon="pi pi-wrench"
                        (click)="openTool(t.toolId, t.requiredAmount)"
                        styleClass="clickable-chip"
                      />
                    }
                  </div>
                </p-accordion-content>
              </p-accordion-panel>
            </p-accordion>
          </p-card>
        </div>
      }
    </div>
  </div>

  @if(taskVisible()) {
    <app-dialog-task [type]="'Detail'" [selectedTask]="selectedTask()" [(visible)]="taskVisible" />
  }

  @if(employeeVisible()) {
    <app-dialog-employee
      [type]="'Detail'"
      [selectedEmployee]="selectedEmployee()"
      [(visible)]="employeeVisible"
    />
  }

  @if(toolVisible()) {
    <app-dialog-tool [type]="'Detail'" [selectedTool]="selectedTool()" [requiredAmount]="requiredAmount()" [(visible)]="toolVisible" />
  }
</div>
