:host ::ng-deep .p-dialog {
  height: 100%;
}

.duration-row {
  display: flex;
  gap: 1rem;
}

.duration-row p-inputNumber {
  flex: 1;
}

:host ::ng-deep .step-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #18181b !important;
  z-index: 1;
}

:host ::ng-deep .step-content {
  padding-bottom: 6rem !important;
}
