<p-toast />

<div class="content-wrapper">
  <header class="section-header">
    <div class="title-group">
      <h1 class="title">{{ 'SCHEDULER.TITLE' | translate }}</h1>
    </div>
  </header>

  <form [formGroup]="schedulerForm" class="p-fluid scheduler-form-container">
    <div class="field">
      <label for="maxTime">{{ 'SCHEDULER.MAX_WORK_TIME' | translate }}*</label>
      <p-inputNumber
        id="maxTime"
        formControlName="maxTime"
        suffix=" h"
        [min]="1"
        [showButtons]="true"
        [class.ng-invalid]="
          schedulerForm.controls.maxTime.invalid && schedulerForm.controls.maxTime.touched
        "
      />
      @if (schedulerForm.controls.maxTime.invalid && schedulerForm.controls.maxTime.touched) {
        <div class="error-message">
          <i class="pi pi-exclamation-circle"></i>
          <span>{{ 'SCHEDULER.VALIDATION.MAX_WORK_TIME_REQUIRED' | translate }}</span>
        </div>
      }
    </div>

    <div class="field">
      <label for="boatAmount">{{ 'SCHEDULER.BOAT_AMOUNT' | translate }}*</label>
      <p-inputNumber
        id="boatAmount"
        formControlName="boatAmount"
        [min]="1"
        [showButtons]="true"
        [class.ng-invalid]="
          schedulerForm.controls.boatAmount.invalid && schedulerForm.controls.boatAmount.touched
        "
      />
      @if (schedulerForm.controls.boatAmount.invalid && schedulerForm.controls.boatAmount.touched) {
        <div class="error-message">
          <i class="pi pi-exclamation-circle"></i>
          <span>{{ 'SCHEDULER.VALIDATION.BOAT_AMOUNT_REQUIRED' | translate }}</span>
        </div>
      }
    </div>

    <div class="field">
      <label for="date">{{ 'SCHEDULER.DATE' | translate }}*</label>
      <p-datepicker
        id="date"
        formControlName="date"
        [showIcon]="true"
        [placeholder]="'TASKS.DIALOG.START_DATE_PLACEHOLDER' | translate"
        appendTo="body"
        panelStyleClass="open-upward"
        [class.ng-invalid]="
          schedulerForm.controls.date.invalid && schedulerForm.controls.date.touched
        "
      />
      @if (schedulerForm.controls.date.invalid && schedulerForm.controls.date.touched) {
        <div class="error-message">
          <i class="pi pi-exclamation-circle"></i>
          <span>{{ 'SCHEDULER.VALIDATION.DATE_REQUIRED' | translate }}</span>
        </div>
      }
    </div>

    <div class="field">
      <label for="speed">{{ 'SCHEDULER.SPEED' | translate }}**</label>
      <p-inputNumber
        id="speed"
        formControlName="speed"
        suffix=" km/h"
        [min]="1"
        [minFractionDigits]="1"
        [maxFractionDigits]="2"
        [showButtons]="true"
        [class.ng-invalid]="
          schedulerForm.controls.speed.invalid && schedulerForm.controls.speed.touched
        "
      />
      @if (schedulerForm.controls.speed.invalid && schedulerForm.controls.speed.touched) {
        <div class="error-message">
          <i class="pi pi-exclamation-circle"></i>
          <span>{{ 'SCHEDULER.VALIDATION.SPEED_REQUIRED' | translate }}</span>
        </div>
      }
    </div>
    <div class="button-wrapper">
      <p-button
        [label]="'SCHEDULER.GENERATE_PLAN' | translate"
        icon="pi pi-check"
        (onClick)="generatePlan()"
        styleClass="db-button-primary"
      />
    </div>
  </form>
</div>
