.scheduler-form-container {
  margin-top: 1.5rem;
}

.button-wrapper {
  display: flex;
  justify-content: flex-end;
  margin-top: 2rem;
  width: 100%;
}

.button-wrapper p-button {
  width: auto !important;
}

:host ::ng-deep .custom-scheduler-panel .p-panel-header {
  display: none !important;
}

:host ::ng-deep .custom-scheduler-panel .p-panel-footer {
  display: none !important;
}
