:host {
  display: block;
  width: 100%;
  background: var(--bg-color);
}

::ng-deep .p-menubar {
  width: 100%;
  border-radius: 0;
  padding: 0.5rem 1rem;
  margin-bottom: 2rem;
  background: var(--bg-color) !important ;
  color: var(--text-color) !important;
}

.navbar-logo {
  margin-right: 1.5rem;
  display: block;
}

img {
  cursor: pointer;
}
