:host ::ng-deep .p-dialog {
  color: var(--text-color);
  height: auto;
  min-height: 50vh;
}

h3 {
  margin: 0
}

label {
  font-weight: 600;
  font-size: 0.9rem;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  margin-left: 0.25rem;
}

.qualification-form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-top: 1rem;
}

.footer-actions {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}


